h1 {background-color:red;padding:20px 5px;border:5px 5px;margin: auto;text-align:center; border-style:solid;}
#me {background-color:blue ; padding: 15px; border-style: dotted;text-align: justify;color:white;}
#them {background-color:black; margin: 70; border: 100px; text-align: center; color: white;}
#quote {background-color:white; margin: 10; border-style: solid; text-align: justify; color: black; }
#last {background-color:green; margin: 20; border-style: solid; text-align: justify; color: white; padding:20px; }