
h1  {margin-right:100px;margin-left:400px; text-transform:capitalize;}
h4 {margin-right:100px;margin-left:480px;}
 p, h3, table, ol {font:arial; margin-left: 100px; margin-right:100px;text-align:justify;}
 p {text-indent:15px;}
 #last-p {font-style:italic;}
 a:link{color:#0099CC;text-decoration:none;}
 a:hover {text-decoration:underline}
img { width:500px;height: 350px;margin-left:20px; float:right;}
table {width:500px;border:1px solid black;}
.even {background-color:#0099CC; color:white;}
ol {list-style-type: lower-alpha;}